<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vital.myapplication">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ActivityStart"
            android:theme="@style/AppTheme.New">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityLogin"
            android:label="@string/action_sign_in"
            android:parentActivityName=".ActivityStart"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityStart" />
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySignUp"
            android:label="@string/action_sign_in_short"
            android:parentActivityName=".ActivityStart"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityStart" />
        </activity>
        <activity
            android:name=".ActivityChoose"
            android:label="@string/title_activity_choose_screen"
            android:theme="@style/AppTheme.New"></activity>
        <activity
            android:name=".ActivityScroll"
            android:label="@string/Space"
            android:theme="@style/AppTheme.New"></activity>
        <activity android:name=".ActivityNickname"
            android:theme="@style/AppTheme"
            android:label="@string/action_sign_in_short"
            android:parentActivityName=".ActivitySignUp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivitySignUp" />
        </activity>
    </application>

</manifest>